<header>
  <nav class="navbar">
    <div class="pizza">
      <h1>Pizzaholic Restaurant</h1>
    </div>
   
    <div class="loginLink">
      <br>
      <div>
        <% if(user.id){ %>

          <div>
                  <div class="rigth-nav">
                    <h5 align="left">Logged in as: <%= user.name %></h1>
                  </div>
                  <div>
                    <input class="logout_button" type="button" onclick="location.href='/logout';" value="Log out" />
                  </div>
                </div>
                <% } else{ %>
                  <div class="links">
                    <a class="menu" href="/menu">Menu</a>
                    <a class="login" href="/login">Login</a>
                    <a class="reg" href="/register">Register</a>
                  </div>
                  <% } %>
          </div>
    </div>

  </nav>
</header>
