<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>

  <link rel="stylesheet" href="/styles/register.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
</head>

<body class="bg_img">
  <%- include('partials/_header') %>


    <ul>
      <% if (typeof errors !="undefined" ) { %>
        <% errors.forEach(error=> { %>
          <li>
            <%= error.message %>
          </li>
          <% }) %>
            <% } %>
    </ul>

    <form class="register" method="POST" action="/register">
      <h1 class="title">Create Your Account</h1>
      <div>
        <input type="text" id="name" name="name" placeholder="Name" required />
      </div>
      <div>
        <input type="email" id="email" name="email" placeholder="Email" required />
      </div>
      <div>
        <input type="tel" id="tel" name="phone" placeholder="Phone Number" required />
      </div>
      <div>
        <input type="password" id="password" name="password" placeholder="Password" required />
      </div>
      <div>
        <input type="submit" value="Register" />
      </div>
      <a href="/login">Already registered? Login here!
      </a>

    </form>
</body>

</html>
