.checkout_page {
  margin: 40px;
}


.successMessage1 {
  padding-top: 1em;
  font-size: 30px;
  font-weight: 600;
  color: rgb(34, 16, 227);
}


/* .item_name {
  font-size: 25px;
  font-weight: 600;
} */