body {
  padding-top: 120px;
}

.menu_page {
  background: #f7f7f7;
}

.itemTable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.food_name {
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
}

.ingredients {
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  white-space: nowrap;
  margin-top: 10px;
}

.price {
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  color: #79797d;
}

.food_photo {
  height: 200px;
  width: 280px;
  border-radius: 16px;
}

.imageFoodName {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
}

.food_name {
  margin-left: 20px;
  margin-right: 20px;
}

.quantityButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px
}

.quantityText {
  width: 40px;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  border: none;
  background-color: #f7f7f7;;
  font-size: 20px;
}

.menuSubtotal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.label {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-weight: 500;
}

.checkoutClearCart {
  display: flex;
  margin: 15px;
  /* justify-content: space-around; */
}

#checkout {
  margin-right: 15px;
}

/* .plusMinusBtn:hover {
  transition: filter 250ms;
  filter: brightness(140%);
}
 */
