.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  color: #FFFFFF;
  background-color: #171717;
  opacity: 0.9;
  height: 80px;
  font-family: Bungee, sans-serif;
  padding-bottom: 15px;
  padding-top: 26px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  -webkit-tap-highlight-color: transparent;
}


.rigth-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}

.pizza {
  display: flex;
  justify-content: left;
  font-family: "poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color:#FFFFFF;
}

.menu {
  font-size: 25px;
  color: rgb(208, 177, 4);
  text-decoration: none;
  padding-right: 10px;
}
.login {
  font-size: 25px;
  color: rgb(208, 177, 4);
  text-decoration: none;
  padding-right: 10px;
}
.reg {
  font-size: 25px;
  color: rgb(208, 177, 4);
  text-decoration: none;
}

.loginLink {
  padding-right: 100px;
}
