.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  color: #FFFFFF;
  background-color: #8aa140;
  height: 50px;
  font-family: Bungee, sans-serif;
  padding-bottom: 15px;
  padding-top: 26px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}


.rigth-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}


