.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  color: #FFFFFF;
  background-color: #171717;
  opacity: 0.9;
  height: 80px;
  font-family: Bungee, sans-serif;
  padding-bottom: 15px;
  padding-top: 26px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  -webkit-tap-highlight-color: transparent;
}

.hello {
  padding-right: 20px;
}

.rigth-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end
}

.pizza {
  display: flex;
  justify-content: left;
  font-family: "poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color:#FFFFFF;
}

.menuNav {
  font-size: 20px;
  color:rgba(220, 193, 111, 0.858);
  text-decoration: none;
  padding-right: 20px;
}
.loginNav {
  font-size: 20px;
  color:rgba(220, 193, 111, 0.858);
  text-decoration: none;
  padding-right: 20px;
}
.regNav {
  font-size: 20px;
  color:rgba(220, 193, 111, 0.858);
  text-decoration: none;
}

.loginLink {
  padding-right: 100px;
}


.logoutNav {
  font-size: 20px;
  color:rgba(220, 193, 111, 0.858);
  text-decoration: none;
  padding-right: 20px;

}

.loggedInNav {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color:rgba(220, 193, 111, 0.858);
  text-decoration: none;
  padding-right: 10px;
}

  .logout_button :hover{
    color: #1eaedb;
}